@model CharacterSheetDnD.ViewModels.MyCharacterViewModel


@{
	ViewData["Title"] = "My Character";
}

<div id="loadingScreen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; z-index: 99; display: flex; justify-content: center; align-items: center;">
	<div style="text-align: center;">
		<p>Loading your character...</p>
		<img src="~/images/dice-d20.png" alt="Loading..." class="spinner">
	</div>
</div>



<!-- TITLE -->
<div style="display:none;" id="characterContent">
	<!-- Name - Race - Class - Level-->
	<div class="text-center mb-4">
		<h3>
			@Model.Name -
			@Model.Race -
			@foreach (var characterClass in Model.CharacterClasses)
			{
				<text>@characterClass.Class Level @characterClass.Level</text>
			}
		</h3>
	</div>
</div>


<!-- TOP DISPLAY -->
@await Html.PartialAsync("_TopDisplay", Model)




<div class="accordion" id="accordionPanelsStayOpenExample">
	<!-- STATISTICS -->
	<div class="accordion-item">
		@await Html.PartialAsync("_Statistics", Model)
	</div>

	<!-- SAVING THROWS -->
	<div class="accordion-item">
		@await Html.PartialAsync("_SavingThrows", Model)
	</div>

	<!-- SKILLS -->
	<div class="accordion-item">
		@await Html.PartialAsync("_Skills", Model)
	</div>

	<!-- EQUIPMENT -->
	<div class="accordion-item">
		@await Html.PartialAsync("_Weapons", Model.WeaponViewModel)
	</div>


</div>



@section Scripts {
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			setTimeout(function () {
				document.getElementById('loadingScreen').style.display = 'none';
				document.getElementById('characterContent').style.display = 'block';
			}, 2000); // 2000 milliseconds = 2 seconds
		});
	</script>
}

<style>
	.spinner {
		width: 120px;
		height: 120px;
		animation: spin 2s linear 0s 2; /* Adjust 2s for duration, 0s for delay, and 2 for the number of times it spins */
	}

	@@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>
