@{
    ViewData["Title"] = "Character Selection";
}

<div class="text-center">
    <h1 class="display-4">WhizSheet</h1>
    <p>Character Selection</p>

    <div class="d-grid gap-2 d-md-block">
        <a asp-controller="CharacterCreation" asp-action="CharacterCreation" class="btn btn-primary btn-large">Create a new Character</a>
        <br>
        <br>
        <button type="button" class="btn btn-secondary btn-large">Select your Character</button>
    </div>
  
</div>



