@{
    ViewData["Title"] = "Home Page";
}


<!-- Succes message-->
@if(TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">WhizSheet</h1>
    <p>Create a free interactive character sheet for Dungeons and Dragons, the world's greatest roleplaying game!</p>
    <!-- Make the image responsive and center it using Bootstrap classes and inline style for sizing -->
    <img src="~/images/home.webp" alt="Home Image" class="img-fluid" style="max-width: 70%; height: auto; margin: 0 auto;">
</div>



