@model IEnumerable<CharacterSheetDnD.Models.Character>

@{
    ViewData["Title"] = "Character Selection";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Delete a Character</h1>
 
    <div class="d-flex flex-column align-items-center">
        <table class="table w-50">
            <tbody>
                @foreach (var character in Model)
                {
                    <tr>
                        <td>
                            <strong>@character.Name.ToUpper()</strong><br />
                            @character.Race
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="confirmDeletion('@character.CharacterID', '@character.Name')" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path fill="white" d="M8 22L5 8l3-6h8l3 6l-3 14zm3-16v2H9v2h2v5h2v-5h2V8h-2V6z" />
                                    </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>







    <script>
        function confirmDeletion(characterId, characterName) {
            if (confirm('Do you really want to delete the character "' + characterName + '"?')) {
                window.location.href = '/DeleteCharacter/DeleteCharacter?id=' + characterId;

            }
        }
    </script>


</div>
